@import url("https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Kanit:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*---- HEADER ---*/
.primer-contenedor-artistas .art1, .primer-contenedor-artistas .art2, .primer-contenedor-artistas .art3, .primer-contenedor-artistas .art4, .primer-contenedor-artistas .art5 {
  border-radius: 0px 50px 0px 50px;
  border: solid gray 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70PX;
  box-shadow: -10px 0px 13px -7px #ffffff88, 10px 0px 13px -7px #ffffff91, 10px 11px 20px 20px rgba(255, 255, 255, 0.315); }

.contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-1, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-2, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-3, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-4, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-5, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-6 {
  background-color: white;
  width: 350px;
  height: 400px; }

header .barra-top {
  height: 50px;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 1;
  font-size: x-large;
  padding-left: 10px; }
  header .barra-top a {
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  header .barra-top .barra-top-vzla {
    width: 100%;
    padding-right: 10px;
    display: flex;
    justify-content: end;
    color: white; }

header nav {
  text-decoration: none;
  width: 100%; }
  header nav .barraDe {
    padding-top: 1%;
    top: 5.4%;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: rgba(63, 74, 95, 0.322);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    z-index: 1; }
    header nav .barraDe li:hover {
      scale: 1.1; }
    header nav .barraDe li a {
      text-decoration: none;
      color: white; }

/* ---- MAIN --*/
.primer-contenedor-artistas .art1, .primer-contenedor-artistas .art2, .primer-contenedor-artistas .art3, .primer-contenedor-artistas .art4, .primer-contenedor-artistas .art5 {
  border-radius: 0px 50px 0px 50px;
  border: solid gray 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70PX;
  box-shadow: -10px 0px 13px -7px #ffffff88, 10px 0px 13px -7px #ffffff91, 10px 11px 20px 20px rgba(255, 255, 255, 0.315); }

.contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-1, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-2, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-3, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-4, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-5, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-6 {
  background-color: white;
  width: 350px;
  height: 400px; }

main .primer-titulo {
  transition: 2s;
  top: 50px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/logo-gochomusic-blanco-sin-fondo.png");
  background-size: 100%;
  background-color: black;
  flex-direction: column;
  border: solid black; }
  main .primer-titulo h1 {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.322);
    box-shadow: -10px 0px 13px -7px #ffffff, 10px 0px 13px -7px #ffffff, 10px 11px 20px 20px rgba(255, 255, 255, 0.43);
    border-radius: 10PX;
    padding-left: 20px;
    padding-right: 20px; }

main .segundo-contenedor {
  margin-top: 50px;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  background-color: #9da3af;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large; }
  main .segundo-contenedor .segundo-contenedor-interno {
    color: white;
    background-color: black;
    width: 70%;
    box-shadow: -10px 0px 30px -7px #727171, 10px 0px 30px -7px #727171, 10px 11px 50px 50px rgba(255, 255, 255, 0.43);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px; }
    main .segundo-contenedor .segundo-contenedor-interno h3 {
      text-align: center; }
    main .segundo-contenedor .segundo-contenedor-interno p {
      text-align: center;
      margin: 20PX; }

main .wicon {
  z-index: 1;
  position: fixed;
  right: 1%;
  bottom: 4%;
  transition: 0.5s; }
  main .wicon {
    transform: scale(1.1); }

/*--ARTISTAS EN PROMOCION --*/
.primer-contenedor-artistas .art1, .primer-contenedor-artistas .art2, .primer-contenedor-artistas .art3, .primer-contenedor-artistas .art4, .primer-contenedor-artistas .art5 {
  border-radius: 0px 50px 0px 50px;
  border: solid gray 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70PX;
  box-shadow: -10px 0px 13px -7px #ffffff88, 10px 0px 13px -7px #ffffff91, 10px 11px 20px 20px rgba(255, 255, 255, 0.315); }

.contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-1, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-2, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-3, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-4, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-5, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-6 {
  background-color: white;
  width: 350px;
  height: 400px; }

.primer-contenedor-artistas {
  padding-top: 80px;
  width: 100%;
  height: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". art1 txt1 txt1" ". art2 txt2 txt2" ". art3 txt3 txt3" ". art4 txt4 txt4" ". art5 txt5 txt5";
  gap: 50px;
  padding-bottom: 5%; }
  .primer-contenedor-artistas div {
    width: 500px;
    height: 600px;
    background-color: white; }
  .primer-contenedor-artistas .art1 {
    grid-area: art1;
    background-size: 100%;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/sixtorein.png");
    background-image: linear-gradient(); }
  .primer-contenedor-artistas .texto-artista-1 {
    display: flex;
    align-items: center;
    grid-area: txt1;
    color: white;
    text-align: center;
    font-size: xx-large; }
  .primer-contenedor-artistas .art2 {
    grid-area: art2;
    background-size: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/aranonepng.png");
    background-image: linear-gradient(); }
  .primer-contenedor-artistas .texto-artista-2 {
    display: flex;
    align-items: center;
    grid-area: txt2;
    color: white;
    text-align: center;
    font-size: xx-large; }
  .primer-contenedor-artistas .art3 {
    grid-area: art3;
    background-size: cover;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/potroalvarez.jpg");
    background-image: linear-gradient(); }
  .primer-contenedor-artistas .texto-artista-3 {
    display: flex;
    align-items: center;
    grid-area: txt3;
    color: white;
    text-align: center;
    font-size: xx-large; }
  .primer-contenedor-artistas .art4 {
    grid-area: art4;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/gustavoelispng.png");
    background-size: 100%;
    background-image: linear-gradient(); }
  .primer-contenedor-artistas .texto-artista-4 {
    display: flex;
    align-items: center;
    grid-area: txt4;
    color: white;
    text-align: center;
    font-size: xx-large; }
  .primer-contenedor-artistas .art5 {
    grid-area: art5;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/xuxo.png");
    background-size: 100%;
    background-image: linear-gradient(); }
  .primer-contenedor-artistas .texto-artista-5 {
    display: flex;
    align-items: center;
    grid-area: txt5;
    color: white;
    text-align: center;
    font-size: xx-large; }

/**---- DEMO ----*/
.primer-contenedor-artistas .art1, .primer-contenedor-artistas .art2, .primer-contenedor-artistas .art3, .primer-contenedor-artistas .art4, .primer-contenedor-artistas .art5 {
  border-radius: 0px 50px 0px 50px;
  border: solid gray 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70PX;
  box-shadow: -10px 0px 13px -7px #ffffff88, 10px 0px 13px -7px #ffffff91, 10px 11px 20px 20px rgba(255, 255, 255, 0.315); }

.contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-1, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-2, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-3, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-4, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-5, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-6 {
  background-color: white;
  width: 350px;
  height: 400px; }

.contenedor-demo {
  width: 100%;
  height: 100%;
  background-color: black; }
  .contenedor-demo .contenedor-img-demo-2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .contenedor-demo .contenedor-img-demo-2 .img-demo {
      margin-top: 100px;
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 1000px;
      border-radius: 0px 75px 0px 75px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/estudiomusical.jpg");
      background-size: 100%;
      background-color: black;
      background-image: linear-gradient();
      background-size: cover;
      color: white;
      border: solid white 4px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    .contenedor-demo .contenedor-img-demo-2 h4 {
      font-size: 180px;
      text-align: center; }
    .contenedor-demo .contenedor-img-demo-2 p {
      font-size: 50px;
      text-align: center; }
  .contenedor-demo .img-demo-2 {
    flex-direction: column;
    border: solid white 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 600px;
    margin: 20px;
    background-image: url(../img/chico-cantando.jpg);
    background-repeat: no-repeat;
    padding-left: 20%;
    color: white;
    text-align: center;
    font-size: 35px;
    background-color: #212f3d;
    border-radius: 0px 75px 0px 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    .contenedor-demo .img-demo-2 h5 {
      margin-left: 30%;
      font-size: 100px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    .contenedor-demo .img-demo-2 p {
      margin-top: 35px;
      text-align: center;
      margin-left: 30%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  .contenedor-demo .flex-formulario {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
    .contenedor-demo .flex-formulario .formulario-contacto-demo {
      height: fit-content;
      border: solid white 4px;
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: gray;
      padding-top: 10px;
      font-size: xx-large;
      margin-right: 50px;
      border-radius: 75px 0px 75px 0px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
      .contenedor-demo .flex-formulario .formulario-contacto-demo .form-label {
        font-size: 35px;
        color: black; }

/** --- NUESTRO EQUIPO ---**/
.primer-contenedor-artistas .art1, .primer-contenedor-artistas .art2, .primer-contenedor-artistas .art3, .primer-contenedor-artistas .art4, .primer-contenedor-artistas .art5 {
  border-radius: 0px 50px 0px 50px;
  border: solid gray 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70PX;
  box-shadow: -10px 0px 13px -7px #ffffff88, 10px 0px 13px -7px #ffffff91, 10px 11px 20px 20px rgba(255, 255, 255, 0.315); }

.contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-1, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-2, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-3, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-4, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-5, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-6 {
  background-color: white;
  width: 350px;
  height: 400px; }

.contenedor-equipo {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center; }
  .contenedor-equipo .contenedor-grid-equipo {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "uno dos tres" "cuatro cinco seis";
    gap: 40px; }
    .contenedor-equipo .contenedor-grid-equipo div {
      border-radius: 0px 75px 0px 75px;
      background-image: url(../img/Ejecutivo-de-ventas.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      font-size: 50px;
      border: solid #25203a 10px; }
      .contenedor-equipo .contenedor-grid-equipo div h4 {
        font-size: 40px;
        background-color: rgba(0, 0, 0, 0.678);
        width: 100%;
        color: white;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-1 {
      grid-area: uno; }
    .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-2 {
      grid-area: dos; }
    .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-3 {
      grid-area: tres; }
    .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-4 {
      grid-area: cuatro; }
    .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-5 {
      grid-area: cinco; }
    .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-6 {
      margin-bottom: 25%; }

/** -- TOP 100 --**/
.primer-contenedor-artistas .art1, .primer-contenedor-artistas .art2, .primer-contenedor-artistas .art3, .primer-contenedor-artistas .art4, .primer-contenedor-artistas .art5 {
  border-radius: 0px 50px 0px 50px;
  border: solid gray 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70PX;
  box-shadow: -10px 0px 13px -7px #ffffff88, 10px 0px 13px -7px #ffffff91, 10px 11px 20px 20px rgba(255, 255, 255, 0.315); }

.contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-1, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-2, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-3, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-4, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-5, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-6 {
  background-color: white;
  width: 350px;
  height: 400px; }

.contenedor-topcien {
  width: 100%;
  height: 2000px;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contenedor-topcien .contenedor-interno-topcien {
    background-image: url(../img/top100.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 80%;
    background-size: cover; }
    .contenedor-topcien .contenedor-interno-topcien h5 {
      color: white;
      font-size: 65px;
      background-color: rgba(0, 0, 0, 0.596);
      width: 100%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

/*---- FOOTER ---*/
.primer-contenedor-artistas .art1, .primer-contenedor-artistas .art2, .primer-contenedor-artistas .art3, .primer-contenedor-artistas .art4, .primer-contenedor-artistas .art5 {
  border-radius: 0px 50px 0px 50px;
  border: solid gray 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70PX;
  box-shadow: -10px 0px 13px -7px #ffffff88, 10px 0px 13px -7px #ffffff91, 10px 11px 20px 20px rgba(255, 255, 255, 0.315); }

.contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-1, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-2, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-3, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-4, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-5, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-6 {
  background-color: white;
  width: 350px;
  height: 400px; }

footer .seccionrrss {
  text-align: center;
  border: 4px solid black;
  background-color: #2c2b2b;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". title ." "inst tw fb" ".texto ."; }
  footer .seccionrrss h3 {
    color: white;
    grid-area: title;
    padding-top: 25px; }
  footer .seccionrrss .rrss-instagram {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
    justify-content: space-between;
    background-color: #2c2b2b;
    border: solid 4px black;
    padding: 15px; }
  footer .seccionrrss .rrss-twitter {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
    justify-content: space-between;
    background-color: #2c2b2b;
    border: solid 4px black;
    padding: 15px; }
  footer .seccionrrss .rrss-facebook {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    justify-content: space-between;
    background-color: #2c2b2b;
    border: solid 4px black;
    padding: 15px; }
  footer .seccionrrss .inst {
    grid-area: inst; }
  footer .seccionrrss .fb {
    grid-area: fb; }
  footer .seccionrrss .tw {
    grid-area: tw; }
  footer .seccionrrss a {
    text-decoration: none;
    list-style: none;
    color: white; }
    footer .seccionrrss a .inst {
      grid-area: inst; }
    footer .seccionrrss a .fb {
      grid-area: fb; }
    footer .seccionrrss a .tw {
      grid-area: tw; }
  footer .seccionrrss p {
    padding-top: 25px;
    color: white;
    grid-area: texto;
    font-size: larger; }

.primer-contenedor-artistas .art1, .primer-contenedor-artistas .art2, .primer-contenedor-artistas .art3, .primer-contenedor-artistas .art4, .primer-contenedor-artistas .art5 {
  border-radius: 0px 50px 0px 50px;
  border: solid gray 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70PX;
  box-shadow: -10px 0px 13px -7px #ffffff88, 10px 0px 13px -7px #ffffff91, 10px 11px 20px 20px rgba(255, 255, 255, 0.315); }

.contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-1, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-2, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-3, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-4, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-5, .contenedor-equipo .contenedor-grid-equipo .contenedor-interno-equipo-6 {
  background-color: white;
  width: 350px;
  height: 400px; }

@media screen and (max-width: 1390px) {
  .contenedor-demo .contenedor-img-demo-2 .img-demo h4 {
    font-size: 70px;
    background-color: rgba(0, 0, 0, 0.438);
    box-shadow: -10px 0px 13px -7px #ffffff, 10px 0px 13px -7px #ffffff, 10px 11px 20px 20px rgba(255, 255, 255, 0.43); }
  .contenedor-demo .contenedor-img-demo-2 .img-demo p {
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.438); }
  .contenedor-demo .img-demo-2 h5 {
    font-size: 30px;
    padding-top: 2%;
    background-color: rgba(0, 0, 0, 0.315);
    box-shadow: -10px 0px 13px -7px #ffffff, 10px 0px 13px -7px #ffffff, 10px 11px 20px 20px rgba(255, 255, 255, 0.43); }
  .contenedor-demo .img-demo-2 p {
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.315); }
  .contenedor-demo .flex-formulario .formulario-contacto-demo .form-label {
    font-size: 25px; }
  .contenedor-topcien {
    height: 800px; }
  .contenedor-topcien .contenedor-interno-topcien {
    height: 550px; } }

@media screen and (max-width: 1190px) {
  .primer-contenedor-artistas {
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr;
    grid-template-areas: "art1" "txt1" "art2" "txt2" "art3" "txt3" "art4" "txt4" "art5" "txt5"; }
  .primer-contenedor-artistas div {
    width: 80%;
    height: 400px;
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
    text-align: center; }
  .primer-contenedor-artistas .art1 {
    margin-top: 100px; } }

@media screen and (max-width: 1125px) {
  .contenedor-equipo .contenedor-grid-equipo {
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis"; } }

@media screen and (max-width: 863px) {
  .contenedor-demo .img-demo-2 h5 {
    margin-left: 0%;
    margin-right: 20%; }
  .contenedor-demo .img-demo-2 p {
    margin-left: 0%;
    margin-right: 20%; }
  .contenedor-demo .flex-formulario .formulario-contacto-demo {
    width: 85%;
    text-align: center;
    border-radius: 0%; } }

@media screen and (max-width: 760px) {
  .contenedor-demo .contenedor-img-demo-2 .img-demo {
    border-radius: 0%;
    width: 90%; }
  .contenedor-demo .img-demo-2 {
    border-radius: 0%; }
  .contenedor-demo .contenedor-img-demo-2 .img-demo h4 {
    font-size: 30px; }
  .contenedor-demo .contenedor-img-demo-2 .img-demo p {
    font-size: 20px; }
  .contenedor-demo .img-demo-2 h5 {
    font-size: 20px;
    padding-top: 2%; }
  .contenedor-demo .img-demo-2 p {
    font-size: 15px; }
  .contenedor-demo .flex-formulario .formulario-contacto-demo {
    width: 100%;
    border-radius: 0%;
    margin-right: 0%; } }

@media screen and (max-width: 500px) {
  header nav .barraDe {
    flex-direction: column;
    background-color: black;
    top: 40px; }
  main .primer-titulo {
    font-size: 15px; }
  .barra-top h2 {
    font-size: 20px; }
  footer .seccionrrss .rrss-facebook {
    width: 70px;
    height: 70px; }
  footer .seccionrrss .rrss-instagram {
    width: 70px;
    height: 70px; }
  footer .seccionrrss .rrss-twitter {
    width: 70px;
    height: 70px; }
  .contenedor-equipo .contenedor-grid-equipo div {
    height: 350px;
    width: 300px;
    border-radius: 0%; } }

@media screen and (max-width: 400px) {
  main .primer-contenedor-artistas div {
    width: 300px;
    height: 400px;
    font-size: 20px;
    text-align: center;
    border-radius: 0%; }
  .primer-contenedor-artistas {
    flex-direction: column; } }
