/*--ARTISTAS EN PROMOCION --*/
@import "../base/variables";

.primer-contenedor-artistas{
    padding-top: 80px;
    width: 100%;
    height: 100%;
    background-color: $color-principal;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". art1 txt1 txt1"
    ". art2 txt2 txt2"
    ". art3 txt3 txt3"
    ". art4 txt4 txt4"
    ". art5 txt5 txt5";
    gap: 50px;
    padding-bottom: 5%;
    div{
        width: 500px;
        height: 600px;
        background-color: $color-terciario;
        ;
    }
    .art1{
        grid-area: art1;
        @extend %contenedor-de-artistas;
        background-size: 100%;
        text-align: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/sixtorein.png");
        background-image: linear-gradient();
    }
    .texto-artista-1{
        display: flex;
        align-items: center;
        grid-area: txt1;
        color: $color-terciario;
        text-align: center;
        font-size: xx-large;
    }
    .art2{
        grid-area: art2;
        @extend %contenedor-de-artistas;
        background-size: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/aranonepng.png");
        background-image: linear-gradient();
    }
    .texto-artista-2{
        display: flex;
        align-items: center;
        grid-area: txt2;
        color: $color-terciario;
        text-align: center;
        font-size: xx-large;
    }
    .art3{
        grid-area: art3;
        @extend %contenedor-de-artistas;
        background-size: cover;
        text-align: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/potroalvarez.jpg");
        background-image: linear-gradient();
    }
    .texto-artista-3{
        display: flex;
        align-items: center;
        grid-area: txt3;
        color: $color-terciario;
        text-align: center;
        font-size: xx-large;
    }
    .art4{
        grid-area: art4;
        @extend %contenedor-de-artistas;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/gustavoelispng.png");
        background-size: 100%;
        background-image: linear-gradient();
    }
    .texto-artista-4{
        display: flex;
        align-items: center;
        grid-area: txt4;
        color: $color-terciario;
        text-align: center;
        font-size: xx-large;
    }
    .art5{
        grid-area: art5;
        @extend %contenedor-de-artistas;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/xuxo.png");
        background-size: 100%;
        background-image: linear-gradient();
    }
    .texto-artista-5{
        display: flex;
        align-items: center;
        grid-area: txt5;
        color: $color-terciario;
        text-align: center;
        font-size: xx-large;
    }

}