@media screen and (max-width: 1390px) {

    .contenedor-demo .contenedor-img-demo-2 .img-demo h4 {
        font-size: 70px;
        background-color: rgba(0, 0, 0, 0.438);
        box-shadow: -10px 0px 13px -7px #ffffff, 10px 0px 13px -7px #ffffff, 10px 11px 20px 20px rgba(255, 255, 255, 0.43);
    }

    .contenedor-demo .contenedor-img-demo-2 .img-demo p {
        font-size: 40px;
        background-color: rgba(0, 0, 0, 0.438);
    }

    .contenedor-demo .img-demo-2 h5 {
        font-size: 30px;
        padding-top: 2%;
        background-color: rgba(0, 0, 0, 0.315);
        box-shadow: -10px 0px 13px -7px #ffffff, 10px 0px 13px -7px #ffffff, 10px 11px 20px 20px rgba(255, 255, 255, 0.43);
    }

    .contenedor-demo .img-demo-2 p {
        font-size: 25px;
        background-color: rgba(0, 0, 0, 0.315);
    }

    .contenedor-demo .flex-formulario .formulario-contacto-demo .form-label {
        font-size: 25px;
    }

    .contenedor-topcien{
        height: 800px;
    }
    .contenedor-topcien .contenedor-interno-topcien{
        height: 550px;
    }
}


@media screen and (max-width: 1190px) {
    .primer-contenedor-artistas {
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 10fr;
        grid-template-areas:
            "art1"
            "txt1"
            "art2"
            "txt2"
            "art3"
            "txt3"
            "art4"
            "txt4"
            "art5"
            "txt5";

    }

    .primer-contenedor-artistas div {
        width: 80%;
        height: 400px;
        font-size: 30px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 10%;
        text-align: center;

    }

    .primer-contenedor-artistas .art1 {
        margin-top: 100px;
    }
}

@media screen and (max-width: 1125px) {
    .contenedor-equipo .contenedor-grid-equipo {
        grid-template-columns: 1fr;
        grid-template-rows: 6fr;
        grid-template-areas:
            "uno"
            "dos"
            "tres"
            "cuatro"
            "cinco"
            "seis"
        ;
    }
}

@media screen and (max-width: 863px) {
    .contenedor-demo .img-demo-2 h5 {
        margin-left: 0%;
        margin-right: 20%;
    }

    .contenedor-demo .img-demo-2 p {
        margin-left: 0%;
        margin-right: 20%;
    }

    .contenedor-demo .flex-formulario .formulario-contacto-demo {
        width: 85%;
        text-align: center;
        border-radius: 0%;
    }
}

@media screen and (max-width:760px) {
    .contenedor-demo .contenedor-img-demo-2 .img-demo {
        border-radius: 0%;
        width: 90%;
    }

    .contenedor-demo .img-demo-2 {
        border-radius: 0%;
    }

    .contenedor-demo .contenedor-img-demo-2 .img-demo h4 {
        font-size: 30px;
    }

    .contenedor-demo .contenedor-img-demo-2 .img-demo p {
        font-size: 20px
    }

    .contenedor-demo .img-demo-2 h5 {
        font-size: 20px;
        padding-top: 2%;
    }

    .contenedor-demo .img-demo-2 p {
        font-size: 15px;
    }

    .contenedor-demo .flex-formulario .formulario-contacto-demo {
        width: 100%;
        border-radius: 0%;
        margin-right: 0%;
    }


}



@media screen and (max-width: 500px) {
    header nav .barraDe {
        flex-direction: column;
        background-color: black;
        top: 40px;
    }

    main .primer-titulo {
        font-size: 15px;
    }

    .barra-top h2 {
        font-size: 20px;
    }

    footer .seccionrrss .rrss-facebook {
        width: 70px;
        height: 70px;
    }

    footer .seccionrrss .rrss-instagram {
        width: 70px;
        height: 70px;
    }

    footer .seccionrrss .rrss-twitter {
        width: 70px;
        height: 70px;
    }

    .contenedor-equipo .contenedor-grid-equipo div {
        height: 350px;
        width: 300px;
        border-radius: 0%;
    }
}



@media screen and (max-width: 400px) {
    main .primer-contenedor-artistas div{
        width: 300px;
        height: 400px;
        font-size: 20px;
        text-align: center;
        border-radius: 0%;
    }

    .primer-contenedor-artistas {
        flex-direction: column;
    }

}